<% content_for :title, "Sign in" %>
<div class="flex min-h-screen w-full items-center justify-center">
  <!-- Left side - Auth form -->
  <div class="card w-full md:w-fit md:min-w-[500px] p-10 drop-shadow-lg bg-white">
    <div class="w-full max-w-md">
      <div class="mb-8 flex items-center justify-center">
        <%= image_tag("logo-with-text.png", width: 120) %>
      </div>

      <div class="w-full">

        <!-- Sign In Content -->
        <div class="space-y-6">
          <div>
            <h1 class="text-3xl font-bold text-center">Welcome back 👋</h1>
          </div>

<!--          TODO: PRO <%# if Rails.env.development? %>-->
            <%#= form_tag('/auth/developer', method: 'post', data: { turbo: false }) do %>
<!--              <button class="btn bg-white btn-lg w-full text-black border-[#e5e5e5]">-->
<!--                <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">-->
<!--                  <g>-->
<!--                    <path d="m0 0H512V512H0" fill="#fff"></path>-->
<!--                    <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>-->
<!--                    <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>-->
<!--                    <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>-->
<!--                    <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>-->
<!--                  </g>-->
<!--                </svg>-->
<!--                Login with Google-->
<!--              </button>-->
            <%# end %>
          <%# else %>
            <%#= form_tag('/auth/google_oauth2', method: 'post', data: { turbo: false }) do %>
<!--              <button class="btn bg-white btn-lg w-full text-black border-[#e5e5e5]">-->
<!--                <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">-->
<!--                  <g>-->
<!--                    <path d="m0 0H512V512H0" fill="#fff"></path>-->
<!--                    <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>-->
<!--                    <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>-->
<!--                    <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>-->
<!--                    <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>-->
<!--                  </g>-->
<!--                </svg>-->
<!--                Login with Google-->
<!--              </button>-->
            <%# end %>
          <%# end %>

<!--          <div class="relative my-6">-->
<!--            <div class="absolute inset-0 flex items-center">-->
<!--              <div class="w-full border-t border-gray-200"></div>-->
<!--            </div>-->
<!--            <div class="relative flex justify-center text-xs uppercase">-->
<!--              <span class="bg-white px-2 text-gray-500">Or continue with</span>-->
<!--            </div>-->
<!--          </div>-->

          <%= render partial: 'shared/flashes' %>

          <%= form_with(url: session_path, class: 'space-y-2') do |form| %>
            <div class="space-y-2">
              <%= form.label :email, class: "block text-sm font-medium mb-1" %>
              <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "w-full" %>
            </div>
            <div class="space-y-2">
              <%= form.label :password, class: "block text-sm font-medium mb-1" %>
              <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Password", class: "w-full" %>
            </div>
            <%= form.hidden_field :invitation_token, value: params[:invitation_token] if params[:invitation_token].present? %>
            <%= form.submit "Sign in", class: 'btn btn-neutral w-full btn-lg mt-5' %>
          <% end %>

        </div>

<!--        TODO: PRO <div class="mt-6 text-center text-sm flex flex-col space-y-2">-->
<!--          <div>-->
<!--            <span>Don't have an account?</span>-->
            <%#= link_to "Sign up!", sign_up_path, class: "cursor-pointer hover:underline ml-1 font-medium text-primary" %>
<!--          </div>-->
          <%#= link_to "Forgot your password?", new_identity_password_reset_path, class: "text-gray-500 hover:underline" %>
<!--        </div>-->
      </div>
    </div>
  </div>
</div>