<% content_for :title, "General settings" %>
<div class="mx-auto max-w-3xl py-10">
  <%= form_with(model: @page_settings, url: pages_settings_general_path, method: :patch) do |form| %>
    <%= link_to pages_settings_path do %>
      <div class="flex gap-x-2 items-center text-sm opacity-70 cursor-pointer hover:opacity-50 active:opacity-40">
        <i class="iconoir-arrow-left"></i>
        <p>Back to settings</p>
      </div>
    <% end %>
    <div class="flex justify-between mb-5 mt-2">
      <div>
        <h1 class="font-bold">General Page Settings</h1>
      </div>
      <%= form.submit 'Save settings', class: 'btn btn-primary' %>
    </div>

    <%= render partial: 'shared/flashes' %>

    <div class="mt-10 flex flex-col gap-y-10">

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold">Name & slug of the page</h3>
          </div>
          <p class="opacity-70 mt-2">General information about your page</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <%= form.fields_for :page do |page_form| %>
            <div>
              <div class="flex justify-between">
                <%= form.label :name, "Page name", class: "block text-sm font-medium mb-1" %>
                <p class="text-xs text-gray-400">Just for you! This name won’t appear on the actual site.</p>
              </div>
              <%= page_form.text_field :name, placeholder: 'My great blog', class: "w-full text-sm" %>
            </div>
            <div>
              <%= page_form.label :slug, class: "block text-sm font-medium mb-1" %>
              <%= page_form.text_field :slug, placeholder: 'blog', class: "w-full text-sm mr-5" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold">Blog title & description</h3>
          </div>
          <p class="opacity-70 mt-2">Blog's main page title and description</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <div>
            <%= form.label :title, class: "block text-sm font-medium mb-1" %>
            <%= form.text_field :title, placeholder: 'Unlocking your blog\'s potential', class: "w-full text-sm mr-5" %>
          </div>

          <div>
            <%= form.label :description, class: "block text-sm font-medium mb-1" %>
            <%= form.text_area :description, placeholder: 'An expert blog about making best SaaS products.', class: 'w-full h-20 bg-white', disabled: @disable_controls %>
          </div>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold">SEO title & description</h3>
          </div>
          <p class="opacity-70 mt-2">Blog's main page SEO title and SEO description. By default we
            take blog's title and description, but you can change it</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <div>
            <div class="flex justify-between">
              <%= form.label :seo_title, class: "block text-sm font-medium mb-1" %>
              <p class="text-xs text-gray-400">If left blank, blog title is taken</p>
            </div>
            <%= form.text_field :seo_title, placeholder: 'Unlocking your blog\'s potential', class: "w-full text-sm mr-5", disabled: @disable_controls %>
          </div>
          <div>
            <div class="flex justify-between">
              <%= form.label :seo_description, class: "block text-sm font-medium mb-1" %>
              <p class="text-xs text-gray-400">If left blank, blog description is taken</p>
            </div>
            <%= form.text_area :seo_description, placeholder: 'An expert blog about making best SaaS products.', class: 'w-full h-20 bg-white', disabled: @disable_controls %>
          </div>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold">Images</h3>
          </div>
          <p class="opacity-70 mt-2">Here you can upload OG (social-sharing) and favicon images</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <%= render "shared/file_input",
                     form: form,
                     image: @page_settings.og_image,
                     field: :og_image,
                     field_label: "Default OG image",
                     size: 'w-64 h-36',
                     recommendation: 'Recommended size: 1200x630px'
          %>
          <%= render "shared/file_input",
                     form: form,
                     image: @page_settings.favicon,
                     field: :favicon,
                     field_label: "Favicon",
                     recommendation: 'Recommended extension: .ico'
          %>
        </div>
      </div>
    </div>

  <% end %>
</div>
