<div class="mx-auto max-w-3xl py-10">
  <%= turbo_frame_tag "new_link", data: { controller: 'author_links' } %>
  <%= turbo_frame_tag "edit_link", data: { controller: 'author_links' } %>
  <%= form_with(model: author, url: author_path(author), method: :patch) do |form| %>
    <%= link_to authors_path do %>
      <div class="flex gap-x-2 items-center text-sm opacity-70 cursor-pointer hover:opacity-50 active:opacity-40">
        <i class="iconoir-arrow-left"></i>
        <p>Back to authors</p>
      </div>
    <% end %>
    <div class="flex justify-between mb-5 mt-2">
      <div>
        <h1 class="font-bold">Authors</h1>
      </div>
      <%= form.submit 'Save settings', class: 'btn btn-primary' %>
    </div>

    <%= render partial: 'shared/flashes' %>

    <div class="mt-10 flex flex-col gap-y-10">

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-user-square text-primary text-xl"></i>
            <h3 class="font-bold">Primary information</h3>
          </div>
          <p class="opacity-70 mt-2">General information about author</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <div>
            <%= form.label :first_name, class: "block text-sm font-medium mb-1" %>
            <%= form.text_field :first_name, placeholder: "John" %>
          </div>

          <div>
            <%= form.label :last_name, class: "block text-sm font-medium mb-1" %>
            <%= form.text_field :last_name, placeholder: "Doe" %>
          </div>


          <div>
            <%= form.label :position, class: "block text-sm font-medium mb-1" %>
            <%= form.text_field :position, placeholder: "CEO" %>
          </div>

          <div>
            <%= form.label :long_description, "Description", class: "block text-sm font-medium mb-1" %>
            <%= form.text_area :long_description, placeholder: "Enter information about author's experience..." %>
          </div>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-media-image text-primary text-xl"></i>
            <h3 class="font-bold">Images</h3>
          </div>
          <p class="opacity-70 mt-2">Author Avatar & OG Image</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">

          <%= render "shared/file_input",
                     form: form,
                     image: author.avatar_picture,
                     field: :avatar_picture,
                     field_label: "Avatar",
                     # size: 'h-10',
                     recommendation: 'Recommended format: square'
          %>

          <%= render "shared/file_input",
                     form: form,
                     image: author.og_image,
                     field: :og_image,
                     field_label: "Author page OG image",
                     size: 'w-64 h-32',
                     recommendation: 'Recommended size: 1200x630px'
          %>

        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-link text-primary text-xl"></i>
            <h3 class="font-bold">Author's Links</h3>
          </div>
          <p class="opacity-70 mt-2">Add & remove authors' links</p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <div>
            <div class="rounded w-full bg-primary-content/40 border-2 border-gray-200">
              <div id="social_media_list" class="flex flex-col justify-between w-full" data-controller="author_links">
                <%= render partial: "authors/links/link", collection: author.author_links, as: :link %>
              </div>
            </div>
            <%= link_to new_author_author_link_path(@author), data: { turbo_frame: "new_link" }, class: "btn btn-outline btn-neutral btn-sm mt-4" do %>
              Add new link <i class="iconoir-plus text-xl"></i>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
