<div class="rounded-lg border border-gray-300 h-fit">
  <div class="relative flex flex-col space-y-1 bg-base-200 rounded-t-lg border-b border-gray-300 py-10 px-7">
    <% if plan&.metadata["isDefault"] == 'true' %>
      <div class="absolute top-5 right-5 border bg-white rounded-xl flex items-center justify-center px-2 py-1">
        <p class="text-xs">Most Popular 🔥</p>
      </div>
    <% end %>
    <p class="text-lg font-medium"><%= plan.name %></p>
    <div data-pricing_interval-target="monthlyPlans">
      <span class="text-5xl font-medium">$<%= plan&.monthly_plan&.unit_amount / 100 %></span>
      <p class="text-gray-500 text-sm">per month</p>
    </div>
    <div data-pricing_interval-target="yearlyPlans">
      <span class="text-5xl font-medium">$<%= plan&.yearly_plan&.unit_amount / 100 / 12 %></span>
      <p class="text-gray-500 text-sm">per month, billed annually</p>
    </div>
  </div>
  <div class="flex flex-col bg-white py-10 px-7 rounded-lg">
    <div class="flex flex-col gap-y-2">
      <% plan.marketing_features.each do |feature| %>
        <div class="flex items-center gap-x-2">
        <span class="size-5 bg-primary rounded-full flex items-center justify-center">
          <i class="iconoir-check text-sm text-white"></i>
        </span>
          <p><%= feature.name %></p>
        </div>
      <% end %>
    </div>
    <% if plan.name == 'Free' && plan.id != @current_product %>
      <div></div>
    <% else %>
      <div data-pricing_interval-target="monthlyCheckouts">
        <%= link_to plan.id == @current_product ? 'Current plan' : "Select plan", checkout_settings_billing_path(price_id: plan&.monthly_plan&.id), class: plan.id == @current_product ? 'btn btn-lg mt-10 w-full' : 'btn btn-neutral btn-lg mt-10 w-full', "data-turbo-prefetch": false, disabled: plan.id == @current_product || plan.name == 'Free' %>
      </div>
      <div data-pricing_interval-target="yearlyCheckouts">
        <%= link_to plan.id == @current_product ? 'Current plan' : "Select plan", checkout_settings_billing_path(price_id: plan&.yearly_plan&.id), class: plan.id == @current_product ? 'btn btn-lg mt-10 w-full' : 'btn btn-neutral btn-lg mt-10 w-full', "data-turbo-prefetch": false, disabled: plan.id == @current_product || plan.name == 'Free'%>
      </div>
    <% end %>
  </div>
</div>