<div class="mx-auto mt-20 min-w-[600px] max-w-[800px] w-full">
  <%= form_tag(is_new ? members_path: member_path(member), method: is_new ? :post : :patch, "data-controller": "members", "data-members-is-owner-value": member.owner?) do %>
    <div class="flex justify-between mb-5">
      <div>
        <h1><%= is_new ? "Invite member" : "Member permissions" %></h1>
        <% unless is_new %>
          <h3><%= member.user.formatted_name %></h3>
        <% end %>
      </div>
      <%= submit_tag is_new ? "Send invite" : "Save changes", class: "btn btn-neutral" %>
    </div>

    <%= render partial: 'shared/flashes' %>

    <div class="mt-16">
      <div class="flex gap-x-2 justify-between">
        <p class="font-bold text-xl mt-3.5 basis-1/3">Email</p>
        <div class="bg-accent p-3.5 rounded-t-md w-2/3 bg-gray-100 border-2 border-gray-200">
          <p class="text-sm font-medium mb-2">Email</p>
          <%= text_field_tag :email, is_new ? "" : member.user.email, class: "w-full", disabled: !is_new %>
        </div>
      </div>
      <div class="flex gap-x-2 justify-between">
        <p class="font-bold text-xl mt-3.5 basis-1/3">Posts</p>
        <div class="bg-accent p-3.5 rounded-b-md w-2/3 bg-gray-100 border-2 border-t-0 border-gray-200">
          <p class="text-sm font-medium mb-2">Author</p>
          <div class="form-control max-w-60 mb-2">
            <label class="label cursor-pointer justify-start">
              <%= check_box_tag :posts_has_own_author, true, is_new || member.posts_owns_author?, class: "checkbox checkbox-sm mr-2", "data-members-target": "postsHasOwnAuthor", "data-action": "change->members#onPostsHasAuthorChange" %>
              <span class="label-text">Has own author</span>
            </label>
          </div>

          <p class="text-sm font-medium mb-2">Role</p>
          <%= hidden_field_tag :posts_role, member.posts_role, "data-members-target": "postsRolesHidden" %>
          <%= select_tag :posts_role, options_for_select([%w[Editor editor], %w[Writer writer], member.owner? ? %w[Owner owner] : nil].compact, member.posts_role), class: "select select-bordered w-full max-w-60", disabled: !member.posts_owns_author? || member.owner?, "data-members-target": "postsRoles", "data-action": "change->members#onPostsRoleChange" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
